@import url('https //fonts.googleapis.com/css family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins",semi-serif;
    margin: 0;
    min-height: 100vh;
    transition: transform 0.3s ease-in-out;

}


#container{
    position: fixed;
    bottom: 1px;
    right: 10px;


}
.toast{
    background-color: rgb(220, 20, 20);
    border-radius: 5px;
    color: darkblue;
    padding: 0.1rem;
}